<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string>https://nmjhzdjknji2.wc94lg.com/publicres/logo/4shfia_logo.png</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string>https://nmjhzdjknji2.wc94lg.com/publicres/logo/4shfia_logo.png</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://appdownload.skbet.com/ios/sk_uat.ipa</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.sk2025.app</string>
          <key>bundle-version</key>
          <string>1.9.6</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>SK</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>